@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(bgimg.jpg);
  background-size: cover;
  background-position: fixed;
}

.copyright {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 20px;
  background: transparent;
  font-weight: 700;
}
